.Contacto-article {
    background-color: rgb(227, 252, 252);
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.contacto-img-text {
    width: 80%;
    margin: auto;
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.contacto-div-text {
    width: 40%;
    margin: auto;
    text-align: center;
}

.contacto-button {
    margin-top: 30px;
}

.contacto-div-icons {
    width: 90%;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 40px;
}

.icons-contact {
    width: 70px;
    height: 60px;
}

.icons-contact.monitor {
    margin-top: 100px;
}

.contac-p {
    margin-top: 10px;
}

.contenedor-de-cursos {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    display: flex;
    background-color: rgb(227, 252, 252);
}

.contenedor-completo-text {
    display: flex;
    margin: auto;
    width: 80%;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contenedor-colores{
    display: flex;
    width: 80%;
    margin: auto;
}

div .contenedor-idiomas {
    width: 30%;
   
}

div .contenedor-tecnologicos {
    width: 50%;
}

div .contenedor-gerenciales {
    width: 300px;
    
}

span {
    margin-left: 10px;
}

.contacto-registro {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);

}

.contacto-form-complete {
    width: 30%;
    margin: auto;
}

.formulario-btn {
    margin-left: 35%;
}