.main4-div {
    width: 90%;
    margin: auto;
    margin-top: 60px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}

.main4-videos {
    margin: 0px 10px 10px 0px
 }

.main4-div-videos {
    margin-top: 40px;   
}