.main-main {
    margin: auto;
    display: flex;
    width: 90%;
    margin-top: 20px;
    background-color:  #edf0f0;
}

.main-h5-img {
    height: 400px;
    width: 800px;
}

.article-main {
    text-align: center;
}

.main1-article {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    text-align: center;
}

.botones-main-article {
    margin: 20px 50px 0px 0px;
    padding: 10px;
}

.p-main-article {
    margin-top: 40px;
    text-align: justify;
}

.h1-main-article {
    margin-top: 20px;
}
