.main5-principal {
    width: 90%;
    margin: auto;
    background-color:  #edf0f0;
    margin-top: 30px;
}

.main5-text-article {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 50px;
}

.main5-img-article {
    width: 180px;
    height: 200px;
    border-radius: 20px;
}

.main5-article-img {
    width: 90%;
    margin: auto;
    display: flex;
    text-align: center;
    margin-top: 60px;
}

.main5-p-article {
    margin-top: 30px;
}

.main5-p-text {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.main5-div-button {
    display: flex;
    text-align: center;
}

.main5-button {
    margin-top: 90px;
    margin-left: 45%;
    margin-bottom: 90px;
}
    
   